.modal-container {
  background-color: var(--bg-2);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

.modal-content {
  background-color: var(--bg);
  border-radius: 8px;
  left: 50%;
  max-height: 60vh;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
}

.modal-header {
  align-items: center;
  display: flex;
  height: 10%;
  justify-content: space-between;
  padding: 8px 16px;
}

.modal-body {
  height: 80%;
  padding: 16px 8px;
}

.modal-footer {
  display: flex;
  gap: 24px;
  height: 20%;
  justify-content: flex-end;
  padding: 8px;
}